.header {
    margin-top: 60px;

}

.header .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .titles h3 {
    position: absolute;
    top: 12%;
    font-size: 1.2rem;
}

.header .titles h1 {
    position: absolute;
    top: 14%;
    font-size: 3rem;

    color: rgb(59, 151, 5);
}

.header img {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    object-fit: cover;
}